.row.full-width {
  max-width: 100%;
}

.row.standard-width {
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
}

.row.content {
  margin-top: 128px;

  @include breakpoint(small only) {
    margin-top: 32px;
  }
}

h1 + hr {
  margin-top:0;
}

.caption {
  color: $gray-text-color;
  font-size: 14px;
  text-transform: uppercase;
  clear: both;
  font-weight: 400;
  letter-spacing: 2px;
  opacity: 0.7;
  display: block;
  line-height: 1;
  margin-top: 5px;
}

h1 {
  text-transform: uppercase;
}

@mixin hero($height) {
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: $height;
  margin-left: 0;
  margin-right: 0;

  &.absolute {
    position: absolute;
    top: 0;
    z-index: 1;
  }
}

.button {
  text-transform: capitalize;
}