.home-content {
  //margin-top: 5rem;

  & > div.row.full-width {
    &:nth-of-type(even) {
      background-color: $colored-bg-color;
    }

    div.row.standard-width {
      padding-top: 5rem;
      padding-bottom: 5rem;

      div.image {
        $img-size: 500px;

        height: $img-size;
        width: $img-size;
        background-position: center center;
        background-size: cover;
        border-radius: $img-size / 2;
        display: inline-block;

        @include breakpoint(small only) {
          height: $img-size / 2;
          width: $img-size / 2;
          border-radius: $img-size / 4;
        }
      }

      h2 {
        font-size: 48px;
        line-height: 1.2em;
        text-transform: none;
        letter-spacing: 0px;
        font-weight: 300;
        font-style: normal;
        margin-top: 27px;
      }

      p {
        font-size: 110%;

        @include breakpoint(small only) {
          margin-top: 1rem;
        }
      }
    }
  }

  h3 {
    //margin-top: 3rem;
  }
}