<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shama & Garth Wedding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/app.css">
    <!--<link rel="stylesheet" href="dist/app.css">-->
</head>
<body ng-controller="BaseCtrl as base">
    <div id="wrap">
        <div id="main">
            <div class="off-canvas-wrapper" id="off-canvas">
                <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

                    <!-- off-canvas title bar for 'small' screen -->
                    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
                        <div class="title-bar">
                            <span class="title-bar-title">Shama/Garth Wedding</span>
                            <!--<button class="menu-icon" type="button" data-open="offCanvasRight"></button>-->
                        </div>
                        <div class="title-bar-right">
                            <span class="title-bar-title"></span>
                            <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
                        </div>
                    </div>

                    <!-- off-canvas right menu -->
                    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
                        <ul class="vertical dropdown menu" data-dropdown-menu>
                            <li ng-repeat="navLink in base.navLinks track by navLink.label">
                                <a data-close ng-click="base.scrollToSection(navLink.section)" ng-bind-html="navLink.smallLabel"></a>
                            </li>
                        </ul>
                    </div>

                    <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
                        <a href="http://browsehappy.com/">upgrade
                            your browser</a> to improve your experience.</p>
                    <![endif]-->

                    <!-- original content goes in this container -->
                    <div class="off-canvas-content" data-off-canvas-content>
                        <div id="view" ng-view class="vvelocity-enter-transition-slideUpIn" data-velocity-opts="{ duration: 400, complete: base.afterViewEnter }"></div>
                    </div>

                    <!-- close wrapper, no more content after this -->
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="row align-middle">
            <div class="medium-12 columns text-center">
                Shama Garth Wedding<br>
                2016
            </div>
        </div>
    </footer>

    <script src="dist/dependencies.js"></script>
    <script src="dist/app.js"></script>
</body>
</html>
