<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinescape</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/app.css">
    <!--<link rel="stylesheet" href="dist/app.css">-->
</head>
<body ng-controller="BaseCtrl as base">
    <div id="wrap">
        <div id="main">
            <div class="off-canvas-wrapper" id="off-canvas">
                <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

                    <!-- off-canvas title bar for 'small' screen -->
                    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
                        <div class="title-bar">
                            <span class="title-bar-title">Cinescape</span>
                            <!--<button class="menu-icon" type="button" data-open="offCanvasRight"></button>-->
                        </div>
                        <div class="title-bar-right">
                            <span class="title-bar-title"></span>
                            <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
                        </div>
                    </div>

                    <!-- off-canvas right menu -->
                    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
                        <ul class="vertical dropdown menu" data-dropdown-menu>
                            <li ng-repeat="navLink in base.navLinks track by navLink.label">
                                <a data-close ng-href="{{navLink.href}}" ng-class="{active: navLink.isActive}" ng-bind-html="navLink.smallLabel"></a>
                            </li>
                        </ul>
                    </div>

                    <header>
                        <div class="row full-width">
                            <div class="column">
                                <a class="logo" href="#/">
                                    <i></i>
                                </a>
                            </div>
                            <div class="column show-for-medium">
                                <ul class="menu align-right" ng-class="{light: base.$rootScope.appData.isLight}">
                                    <li ng-repeat="navLink in base.navLinks track by navLink.label">
                                        <a ng-href="{{navLink.href}}" ng-class="{active: navLink.isActive}" ng-bind="navLink.label"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
                        <a href="http://browsehappy.com/">upgrade
                            your browser</a> to improve your experience.</p>
                    <![endif]-->

                    <!-- original content goes in this container -->
                    <div class="off-canvas-content" data-off-canvas-content>
                        <div id="view" ng-view class="vvelocity-enter-transition-slideUpIn" data-velocity-opts="{ duration: 400, complete: base.afterViewEnter }"></div>
                    </div>

                    <!-- close wrapper, no more content after this -->
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="row align-middle">
            <div class="small-12 medium-4 columns">
                818-732-0006
            </div>
            <div class="small-12 medium-4 columns text-center">
                Based in Southern California
            </div>
            <div class="small-12 medium-4 columns text-right">
                <!--<button class="button secondary" ng-click="base.onScrollToTopClick()"><i class="fa-angle-up fa"></i></button>-->
                <a href="mailto:cinescape@cinescape.com">cinescape@cinescape.com</a>
            </div>
        </div>
    </footer>

    <!--<script src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>-->
    <script src="dist/dependencies.js"></script>
    <script src="dist/app.js"></script>
</body>
</html>
