<header>
    <div class="row full-width align-center">
        <div class="column show-for-medium text-center">
            <h2>Shama & Garth</h2>
        </div>
    </div>
    <div class="row full-width align-center">
        <div class="column show-for-medium">
            <ul class="menu align-center">
                <li ng-repeat="navLink in base.navLinks track by navLink.label">
                    <a ng-click="base.scrollToSection(navLink.section)" ng-bind="navLink.label"></a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="row full-width text-center">-->
    <!--<div class="column">-->
    <!--<h1>We're Engaged!</h1>-->
    <!--<p>Tying the knot December 18, 2016</p>-->
    <!--</div>-->
    <!--</div>-->
</header>

<div class="row carousel-wrapper align-middle">
    <ul rn-carousel
        class="image"
        rn-carousel-transition="slide"
        rn-carousel-buffered
        rn-carousel-controls
        rn-carousel-controls-allow-loop
        rn-carousel-duration="1200"
        rn-carousel-easing="easeInOutQuart"
        rn-carousel-index="vm.carousel.carouselIndex"
        rn-carousel-auto-slide="7">

        <li ng-repeat="imgSrc in vm.carousel.images track by $index"><div class="image" ng-style="{'background-image': 'url(dist/images/hero-orbit/' + imgSrc + ')'}"></div></li>
    </ul>
    <div rn-carousel-indicators ng-if="vm.carousel.images.length > 1" slides="vm.carousel.images" rn-carousel-index="vm.carousel.carouselIndex"></div>
    <div class="carousel-overlay"></div>

    <div class="carousel-text">
        <h1>We're Engaged!</h1>
        <p>Tying the knot December 18, 2016</p>
    </div>
</div>

<div class="home-content">
    <div class="row full-width ceremony align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/portrait.jpg)"></div>
                    <h2>The Ceremony</h2>

                    <p><strong>4:00 PM</strong></p>
                    <p>
                        Grace Church<br>
                        37 Bear Blvd<br>
                        Flagstaff, AZ 86001
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width reception align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/laughing.jpg);background-position:0 0"></div>
                    <h2>Reception</h2>

                    <p><strong>4:00 PM</strong></p>
                    <p>
                        Grace Church<br>
                        37 Bear Blvd<br>
                        Flagstaff, AZ 86001
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width afterparty align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/dancing.jpg)"></div>
                    <h2>Afterparty</h2>

                    <p><strong>4:00 PM</strong></p>
                    <p>
                        Grace Church<br>
                        37 Bear Blvd<br>
                        Flagstaff, AZ 86001
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row full-width">-->
        <!--<div class="column text-center">-->
            <!--<div class="row standard-width">-->
                <!--<div class="column text-center call-to-action">-->
                    <!--<a href="#/portfolio" class="button large hollow">Checkout Our Latest Work</a>-->
                    <!--<a href="#/contact" class="button large hollow">Schedule An Appointment</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>