<header>
    <div class="row full-width align-center">
        <div class="column show-for-medium text-center">
            <h2> </h2>
        </div>
    </div>
    <div class="row full-width align-center">
        <div class="column show-for-medium">
            <ul class="menu align-center">
                <!--<li ng-repeat="navLink in base.navLinks track by navLink.label">-->
                    <!--<a ng-click="base.scrollToSection(navLink.section)" ng-bind="navLink.label"></a>-->
                <!--</li>-->
                <li>
                    <a ng-click="base.scrollToSection('destination')">Destination</a>
                </li>
                <!--<li>-->
                    <!--<a ng-click="base.scrollToSection('mehndi')">Wedding Events</a>-->
                <!--</li>-->
                <ul class="dropdown menu align-left" style="width:167px" data-dropdown-menu>
                    <li>
                        <a href="#">Wedding Events</a>
                        <ul class="menu">
                            <li><a ng-click="base.scrollToSection('mehndi')">Mehndi/Sangeet</a></li>
                            <li><a ng-click="base.scrollToSection('ceremony')">The Ceremonies</a></li>
                            <li><a ng-click="base.scrollToSection('reception')">Reception</a></li>
                            <li><a ng-click="base.scrollToSection('adios')">Gracias & Adios Brunch</a></li>
                        </ul>
                    </li>
                </ul>

                <li>
                    <a ng-click="base.scrollToSection('travel')">Travel Info</a>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="row full-width text-center">-->
    <!--<div class="column">-->
    <!--<h1>We're Engaged!</h1>-->
    <!--<p>Tying the knot December 18, 2016</p>-->
    <!--</div>-->
    <!--</div>-->
</header>

<div class="row carousel-wrapper align-middle">
    <ul rn-carousel
        class="image"
        rn-carousel-transition="slide"
        rn-carousel-controls
        rn-carousel-controls-allow-loop
        rn-carousel-duration="1200"
        rn-carousel-easing="easeInOutQuart"
        rn-carousel-index="vm.carousel.carouselIndex"
        rn-carousel-auto-slide="5">

        <li ng-repeat="imgSrc in vm.carousel.images track by $index"><div class="image" ng-style="{'background-image': 'url(dist/images/hero-orbit/' + imgSrc + ')'}"></div></li>
    </ul>
    <div rn-carousel-indicators ng-if="vm.carousel.images.length > 1" slides="vm.carousel.images" rn-carousel-index="vm.carousel.carouselIndex"></div>
    <div class="carousel-overlay"></div>

    <div class="carousel-text">
        <h1>We're Getting Married!</h1>
        <p>Shama & Garth are tying the knot December 3, 2016</p>
    </div>
</div>

<div class="home-content">

    <div class="row full-width intro align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <hr style="width:70%;margin-bottom:50px;">
                    <p>
                        We are so excited and blessed to start our lives together and plan to do so with a fantastic wedding
                        celebration! We would be thrilled if you are able to join us in the festivities! Our location is exquisite
                        and we know that you will enjoy the beautiful resort while also getting a little vacation time with your
                        families and friends.
                    </p>
                    <hr style="width:70%;margin-top:50px;margin-bottom: 60px;">
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width destination align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/grand-velas-riviera-nayarit.png)"></div>
                    <h2>The Destination</h2>

                    <p>
                        <strong>
                            Grand Velas Riviera Nayarit<br>
                            December 2nd, 3rd, and 4th of 2016
                        </strong>
                    </p>
                    <p>
                        <a href="http://vallarta.grandvelas.com/" target="_blank">http://vallarta.grandvelas.com</a><br>
                        Av. Cocoteros, 98 Sur, Nuevo Vallarta, Riviera Nayarit, Mexico C.P. 63735<br>
                        1-877-418-2722
                    </p>
                    <p>
                        <br>
                        <strong>Please be sure to visit this link for our wedding specific room rate:</strong><br>
                        <a href="http://bookings.ihotelier.com/bookings.jsp?groupID=1672811&hotelID=15042">http://bookings.ihotelier.com/bookings.jsp?groupID=1672811&hotelID=15042</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width mehndi align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/mehndi.jpg);background-position-y: -18px;"></div>
                    <h2>Mehndi/Sangeet</h2>

                    <p><strong>Friday, December 2nd, Starts Late Afternoon</strong></p>
                    <p>
                         An exciting evening for the traditional pithi ceremony, including mehndi (henna), dinner, and of course dancing!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width ceremony align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/portrait.jpg)"></div>
                    <h2>The Ceremonies</h2>

                    <p>
                        <strong>
                            Saturday, December 3rd, 5:00 & 6:00 PM<br>
                            Gazebo Terrace
                        </strong>
                    </p>
                    <p>
                        We will be having a traditional Nikkah ceremony, followed by an American ceremony.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width reception align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/dancing.jpg)"></div>
                    <h2>Reception</h2>

                    <p>
                        <strong>
                            Saturday, December 3rd, 7:00 PM<br>
                            Ocean View Garden
                        </strong>
                    </p>
                    <p>
                        Come celebrate this momentous occasion with food, laughter, and dancing!
                        <!--Eating, dancing, laughing, and enjoying all the important people in our lives!-->
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width adios align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <div class="image" style="background-image: url(dist/images/adios.jpg);background-position:64% 0"></div>
                    <h2>Gracias & Adios Brunch</h2>

                    <p>
                        <strong>
                            Sunday, December 4th, 11:00 AM
                        </strong>
                    </p>
                    <p>
                        Close out the weekend with a festive brunch as a thank you to everyone who came to Mexico to celebrate with us.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width travel align-center">
        <div class="column">
            <div class="row standard-width">
                <div class="column text-center">
                    <h2>Travel Information</h2>

                    <!--<p>-->
                        <!--<strong>-->
                            <!--Sunday, December 4th, 11:00 AM-->
                        <!--</strong>-->
                    <!--</p>-->
                    <p>
                        Below are a few brief details regarding travel arrangements (additional information will be mailed with
                        the invitation). Be sure to check back on our website as we will update it should any changes arise or
                        more information becomes available.
                    </p>
                    <hr style="margin-top:1.5rem;margin-bottom:1.5rem;">
                    <div class="text-left">
                        <p>
                            <strong>Please be sure to visit this link for our wedding specific room rate:</strong><br>
                        <ul>
                            <li>
                                <a href="http://bookings.ihotelier.com/bookings.jsp?groupID=1672811&hotelID=15042">http://bookings.ihotelier.com/bookings.jsp?groupID=1672811&hotelID=15042</a>
                            </li>
                        </ul>
                        </p>

                        <p>
                            <strong>Traveling from the Southern California:</strong>
                        </p>
                        <ul class="text-left">
                            <li>
                                Nonstop flights to Puerto Vallarta Airport (PVR) are available from Los Angeles Airport (LAX) and
                                John Wayne Airport (SNA). Participating airlines include Southwest, Alaska, Delta, and United.
                            </li>
                            <li>
                                If you are interested in traveling with our group from SNA, please contact us so you can be included
                                in the group booking.
                            </li>
                        </ul>
                        <p>
                            <strong>On-Resort Tips:</strong>
                        </p>
                        <ul class="text-left">
                            <li>
                                Transportation will be arranged from PVR airport to the resort for those not renting a car.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row full-width">-->
        <!--<div class="column text-center">-->
            <!--<div class="row standard-width">-->
                <!--<div class="column text-center call-to-action">-->
                    <!--<a href="#/portfolio" class="button large hollow">Checkout Our Latest Work</a>-->
                    <!--<a href="#/contact" class="button large hollow">Schedule An Appointment</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>